.celo{
    background-color: antiquewhite;
    width: 70%;
    margin: auto;
  border: 3px solid purple;
  padding-left: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
}
.nas{
    color: black;
    font-size: 19px;

}
.bod{
    font-size: 15px;
}